<div class="cards m-5 p-3">
  <div class="card p-3" *ngFor="let r of restaurants | async">
    <a
      [routerLink]="['/panier', r.id,'choix']"
      routerLinkActive="active"
      style="text-decoration: none;"
    >
      <div style="text-align:center;">
        <iframe
          id="map"
          width="450"
          height="250"
          style="border: 0;"
          loading="lazy"
          allowfullscreen
          [src]="sanitizer.bypassSecurityTrustResourceUrl('https://www.google.com/maps/embed/v1/place?key=AIzaSyAg6ror6YtboDnNHbSQIHyHvRdDM7YJjm8&q='+r.adresse!.codePostal+r.adresse!.numero+r.adresse!.rue)"
        >
        </iframe>
      </div>

      <div class="card-body">
        <h5
          class="card-title"
          style="font-family: hakubo, Verdana, Geneva, Tahoma, sans-serif;"
        >
          {{ r.nom }}
        </h5>
        <p
          class="card-text"
          style="font-family: Verdana, Geneva, Tahoma, sans-serif;"
        >
          {{ r.adresse!.numero }} {{ r.adresse!.rue }} {{ r.adresse!.ville }} {{
          r.adresse!.codePostal }}
        </p>
      </div>
    </a>
  </div>
</div>
