<div class="container-fluid">
  <br />
  <form (ngSubmit)="save()" [formGroup]="_form">
    <div
      class="card mx-auto shadow p-3 mb-5"
      style="width: 40%; line-height: 0.3cm"
    >
      <div class="card-body">
        <h2 class="card-title text-center">Restaurants disponibles</h2>
        <br />
        <div class="form-group">
          <select class="form-control" formControlName="restaurantsDispo" multiple>
            <option
              *ngFor="let restaurant of restaurantsAvailable | async"
              value="{{ restaurant.id }}"
            >
              {{restaurant.nom}} ({{restaurant.adresse?.ville}})
            </option>
          </select>
          <div
            *ngIf="form['restaurantsDispo'].dirty && form['restaurantsDispo'].invalid"
            class="alert alert-danger"
          >
            Restaurant(s) incorrect(s)
          </div>
        </div>
        <br />
        <div>
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="_form.invalid"
          >
            Manager</button
          >&nbsp;
          <a
            [routerLink]="['/home']"
            routerLinkActive="active"
            class="btn btn-outline-warning"
            >retour</a
          >
        </div>
      </div>
    </div>
  </form>
</div>
