<div class="container-fluid">
  <br />
  <form (ngSubmit)="save()" [formGroup]="_form">
    <div class="card shadow p-5 m-5" style="line-height: 0.3cm;">
      <div class="card-body">
        <h2 class="card-title text-center">Restaurants disponibles</h2>
        <br />
        <div class="form-group">
          <select
            class="form-control"
            formControlName="restaurantsDispo"
            multiple
          >
            <option
              *ngFor="let restaurant of restaurantsAvailable | async"
              value="{{ restaurant.id }}"
            >
              {{restaurant.nom}} ({{restaurant.adresse?.ville}})
            </option>
          </select>
          <div
            *ngIf="form['restaurantsDispo'].dirty && form['restaurantsDispo'].invalid"
            class="alert alert-danger"
          >
            Restaurant(s) incorrect(s)
          </div>
        </div>
        <br />
        <div class="btn-group">
          <button type="submit" class="btn btn-dark" [disabled]="_form.invalid">
            Manager
          </button>
          <a
            [routerLink]="['/home']"
            routerLinkActive="active"
            class="btn btn-outline-dark"
            >retour</a
          >
        </div>
      </div>
    </div>
  </form>
</div>
