<div class="card-group m-5 p-3">
  <div class="card p-3" *ngFor="let p of plats">
    <div *ngIf="p.photo; else elseBlock">
      <img
        class="card-img-top"
        [src]="sanitizer.bypassSecurityTrustResourceUrl('data:image/PNG;base64,'+p.photo) "
        alt=" image plat"
      />
    </div>
    <ng-template #elseBlock>
      <img
        class="card-img-top"
        src="/../../assets/images/default_plat.png"
        alt="image plat"
      />
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{p.nom}}</h5>
      <p class="card-text">{{p.description}}</p>
      <p class="card-text"><small class="text-muted">{{p.prix}}</small></p>
    </div>
  </div>
</div>
