<div class="card mt-3">
  <table class="table">
    <thead>
      <tr>
        <td>Date</td>
        <td>Prix total</td>
        <td>Statut</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of commandes">
        <td>{{ c.date }}</td>
        <td>{{ c.prixTotal }}</td>
        <td>{{ c.statut }}</td>
        <td>
          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
            (click)="getDetails(c.id!)"
          >
            Détails
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Détails de la commande du {{ commandeDetaillee.date }}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead>
            <tr>
              <td>Nom</td>
              <td>Prix</td>
              <td>Quantité</td>
              <td>Prix total</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ligne of commandeDetaillee.lignesCommande">
              <td>{{ ligne.id!.plat!.nom }}</td>
              <td>{{ ligne.id!.plat!.prix }}</td>
              <td>{{ ligne.quantite }}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>{{ commandeDetaillee.prixTotal }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
