<div class="container mt-3">
  <div class="form-group">
    <label>id</label>
    <input [(ngModel)]="plat.id" readonly class="form-control" />
  </div>
  <div class="form-group">
    <label>nom</label>
    <input [(ngModel)]="plat.nom" class="form-control" />
  </div>
  <div class="form-group">
    <label>description</label>
    <textarea [(ngModel)]="plat.description" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label>prix</label>
    <input type="number" [(ngModel)]="plat.prix" class="form-control" />
  </div>

  <div class="form-group">
    <img
      [src]="
      sanitizer.bypassSecurityTrustResourceUrl(
        'data:image/PNG;base64,' + plat.photo
      )
    "
      width="200px"
      *ngIf="plat.photo"
    />
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-secondary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        add image
      </button>
    </div>
  </div>

  <div class="form-group">
    <button (click)="save()" class="btn btn-outline-success">
      enregistrer
    </button>
    <a
      [routerLink]="['/plats']"
      routerLinkActive="active"
      class="btn btn-outline-warning"
      >annuler</a
    >
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Détails de la commande du
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <img [src]="imgURL" height="200" *ngIf="imgURL" />
        <input type="file" (change)="onFileChanged($event)" />
      </div>
      <div class="modal-footer">
        <button
          (click)="onUpload()"
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          *ngIf="plat.id"
        >
          Upload
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          *ngIf="!plat.id"
        >
          Continuer
        </button>
      </div>
    </div>
  </div>
</div>
