<div class="card m-5 p-5">
  <table class="table">
    <thead>
      <tr>
        <td>Nom</td>
        <td>Prix</td>
        <td>Restaurant</td>
        <td>Quantite</td>
        <td>Total</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lc of ligneCarte; let index = index">
        <td>{{ lc.id!.plat!.nom }}</td>
        <td>{{ lc.id!.plat!.prix }}€</td>
        <td>{{lc.id!.restaurant!.nom}}</td>
        <td>{{ quantites[index] }}</td>
        <td>{{ prixTotaux[index] }}€</td>
      </tr>
      <tr></tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total panier</td>
        <td>{{ getTotal() }}€</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="card mt-0 mx-5 p-3 fixed-bottom">
  <div class="btn-group mx-5">
    <a *ngIf="getTotal() ==0" class="disabled btn btn-dark"> Valider</a>
    <a
      *ngIf="getTotal() !=0"
      [routerLink]="['../valider']"
      routerLinkActive="active"
      (click)="goValider()"
      class="btn btn-success"
    >
      Valider</a
    >
    &nbsp;
    <a
      [routerLink]="['../../home']"
      routerLinkActive="active"
      class="btn btn-outline-dark"
      disabled
    >
      Retour</a
    >
  </div>
</div>
