<div class="card-group mt-5 mx-5 p-3">
  <div class="card p-3" *ngFor="let lc of ligneCarte; let index = index">
    <div *ngIf="lc.id!.plat!.photo; else elseBlock">
      <img
        class="card-img-top"
        [src]="
          sanitizer.bypassSecurityTrustResourceUrl(
            'data:image/PNG;base64,' + lc.id!.plat!.photo
          )
        "
        alt=" image plat"
      />
    </div>
    <ng-template #elseBlock>
      <img
        class="card-img-top"
        src="/../../assets/images/default_plat.png"
        alt="image plat"
      />
    </ng-template>
    <div class="card-body">
      <h3
        class="card-title"
        style="
          font-family: hakubo, Verdana, Geneva, Tahoma, sans-serif;
          text-transform: uppercase;
        "
      >
        {{ lc.id!.plat!.nom }}
      </h3>
      <p class="card-text">{{ lc.id!.plat!.description }}</p>
      <p class="card-text">
        <small class="text-muted">{{ lc.id!.plat!.prix }}€</small>
      </p>

      <div *ngIf="getQuantite(index) > 0">
        {{ getQuantite(index) }}
      </div>
      <div *ngIf="getQuantite(index) == undefined">0</div>
      <div align="center" ng-if="l.disponibilite == true">
        <button (click)="addPanier(index)" class="btn">
          <img src="https://img.icons8.com/ios/50/000000/add--v1.png" />
        </button>
        <button
          *ngIf="getQuantite(index) > 0"
          (click)="remove(lc)"
          class="btn rounded-circle"
        >
          <img src="https://img.icons8.com/ios/50/000000/minus.png" />
        </button>
        <button
          *ngIf="getQuantite(index) == 0 || getQuantite(index) == undefined"
          (click)="remove(lc)"
          class="btn disabled rounded-circle"
        >
          <img src="https://img.icons8.com/ios/50/000000/minus.png" />
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card mt-0 mx-5 p-3 fixed-bottom">
  <a *ngIf="this.panierEmpty" class="disabled btn btn-success">Commander</a>
  <a
    *ngIf="!this.panierEmpty"
    [routerLink]="['../recap']"
    routerLinkActive="active"
    class="btn btn-success"
    disabled
    >Commander</a
  >
  &nbsp;
  <a
    [routerLink]="['../../../restaurants']"
    routerLinkActive="active"
    class="btn btn-warning"
    disabled
  >
    Retour</a
  >
</div>
