<div class="card-group mt-5 mx-5 p-3">
  <div class="card p-3" *ngFor="let lc of ligneCarte; let index = index">
    <div *ngIf="lc.id!.plat!.photo; else elseBlock">
      <img
        class="card-img-top"
        [src]="
          sanitizer.bypassSecurityTrustResourceUrl(
            'data:image/PNG;base64,' + lc.id!.plat!.photo
          )
        "
        alt=" image plat"
      />
    </div>
    <ng-template #elseBlock>
      <img
        class="card-img-top"
        src="/../../assets/images/default_plat.png"
        alt="image plat"
      />
    </ng-template>
    <div class="card-body">
      <h5 class="card-title">{{ lc.id!.plat!.nom }}</h5>
      <p class="card-text">{{ lc.id!.plat!.description }}</p>
      <p class="card-text">
        <small class="text-muted">{{ lc.id!.plat!.prix }}€</small>
      </p>
      <div *ngIf="getQuantite(index) > 0">
        {{ getQuantite(index) }}
      </div>
      <div *ngIf="getQuantite(index) == undefined">0</div>
      <div ng-if="l.disponibilite == true">
        <button
          (click)="addPanier(index)"
          class="btn btn-outline-info rounded-circle"
        >
          +
        </button>
        <button
          *ngIf="getQuantite(index) > 0"
          (click)="remove(lc)"
          class="btn btn-outline-warning rounded-circle"
        >
          -
        </button>
        <button
          *ngIf="getQuantite(index) == 0 || getQuantite(index) == undefined"
          (click)="remove(lc)"
          class="btn btn-outline-secondary disabled rounded-circle"
        >
          -
        </button>
      </div>
    </div>
  </div>
</div>
<div class="card mt-0 mx-5 p-3 fixed-bottom">
  <a *ngIf="this.panierEmpty" class="disabled btn btn-success">Commander</a>
  <a
    *ngIf="!this.panierEmpty"
    [routerLink]="['../recap']"
    routerLinkActive="active"
    class="btn btn-success"
    disabled
    >Commander</a
  >
  &nbsp;
  <a
    [routerLink]="['../../../restaurants']"
    routerLinkActive="active"
    class="btn btn-warning"
    disabled
  >
    Retour</a
  >
</div>
